.heead{
    color: #0065F8
}
.logo-btn{
    display: flex;
    margin-top: 15px;
    gap: 30px;
    font-size: 30px;
}
.logo-btn a{
    border: 2px solid;
    padding: 8px;
    border-radius: 30px;
    transition: all 0.3s ease;
    color: #0065F8;
}
.logo-btn a:hover{
    background-color: #0065F8;
    color: white;
    cursor: pointer;
     box-shadow: 
    0 0 8px rgba(0, 101, 248, 0.6),
    0 0 16px rgba(0, 101, 248, 0.6),
    0 0 24px rgba(0, 101, 248, 0.6);
}
#res-btn{
    background-color: #0065F8;
    margin-top: 17px;
    margin-left: 12px;
    padding: 10px;
    border-radius: 12px;
}
#res-btn:hover{
    background-color: black;
    color: white;
}
.profile-img img{
    height: 60vh;
    width: 390px;
    margin-top: 70px;
    
}
.hero{
    display: flex;
    margin-left: 50px;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.float-animation {
  animation: float 4s ease-in-out infinite;
}











